{% extends 'base.html' %} {% load static %}{% block content %}{% load crispy_forms_tags %}
{% csrf_token %}
	<div class="container-fluid py-5">
        <div class="container2">
            <h2>Add a Book to the Library</h2>
            {% if messages %}
				      {%for message in messages %}
					      <h3>{{message}}</h3>
				      {%endfor%}
			      {% endif %}
            <form method="POST">
              {% csrf_token %}
              <label for="title">Book Name:</label>
              <input type="text" id="title" name="title" required>
          
              <label for="author">Author:</label>
              <input type="text" id="author" name="author" required>
          
              <label for="year">Publication Year:</label>
              <input type="datetime-local"  id="year" name="year" required>
              <br>
              <br>
              <label for="booktype">Type:</label>
              <input type="number" id="booktype" name="booktype" required>
          
              <input type="submit" value="Add Book">
            </form>
            <br>
            <h2>Remove Book from Library</h2>
            <form method="POST">
              {% csrf_token %}
              <label for="title2">Book Name:</label>
              <input type="text" id="title2" name="title2" required>
              <input type="submit" value="Remove Book">
            </form>
	</div> 
{% endblock %}